@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<section id="projects" class="container py-5">
    <h2 class="mb-4 text-center fw-bold">@Localizer["projects"]</h2>
    <div class="row g-4">
        <!-- مشروع To-Do List -->
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["todo"]</h5>
                    <p class="card-text">@Localizer["ex"]</p>
                    <a href="https://github.com/ShoaibSaeed97/ToDoListApp" target="_blank" class="btn btn-outline-primary"> @Localizer["url1"]</a>
                </div>
            </div>
        </div>

        <!-- مشروع الموقع الشخصي -->
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@Localizer["Portfolio"]</h5>
                    <p class="card-text">@Localizer["ex1"]</p>
                    <a href="https://github.com/ShoaibSaeed97/Portfolio" target="_blank" class="btn btn-outline-primary">@Localizer["url1"] </a>
                </div>
            </div>
        </div>
    </div>
</section>
